body {
  background-color: #282c34;
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 10vh;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.nordleRow {
  display: flex;
  margin: auto;
  max-width: fit-content;
}

.nordleLetter {
  background-color: rgb(238, 231, 221);
  color: #282c34;
  width: 36px;
  height: 36px;
  margin: 8px 4px;
  border-radius: 4px;
  line-height: 36px;
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
